.contact_us_container{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding-bottom: 50px;
}
.imgContainer{
    padding-top: 30px;
    display: flex;
    align-items: center
}
.imgContainer img{
    height: 80%;
    width: 100%;
}
.contact_us_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fb7050;
    font-weight: 500;
}
.name_container{
    display: flex;
    justify-content: space-around;
}
.name_input{
    width: 200px;
    font-size: 19px;
    padding: 5px 20px;
    border-radius: 2px;
    border: 1px solid black;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}
.can{
    margin-left: 10px;
}
textarea{
    font-size: 18px;
    padding-left: 10px;
}
.contact_us_btn{
    width: 200px;
    height: 45px;
    font-size: 18px;
    margin-left: 30px;
    border-radius: 9px;
    background-color: rgb(55, 55, 192);
    color: white;
}
.contact_us_btn:hover{
    background-color: rgba(55, 55, 192, 0.905);
    cursor: pointer;
}
.main_contact_us{
    border: 1px solid black;
    padding:50px ;
    border-radius: 9px;
    margin-top: 30px;
}