.subHeading_Review_page{
    display: flex;
    justify-content: center;

}
.subHeading_Review_page_container{
    line-height: 0.7;
    font-weight: 500;
}
.reviewpage_container{
    margin-top: 100px;
}
.review_page_card img{
    height: 270px;
    width: 280px;
    border-radius: 50%;
}
.review_page_name{
    color: #fb7050;
    font-weight: 600;
    padding-left: 33%;
    padding-top: 30px;
}
.review_page_card {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px 20px 100px;
    margin-top: 40px;
}
.review_page_discription{
    font-size: 18px;
    padding-left: 33%;
    line-height: 1.4;
}